<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="Console" xsi:type="Console" layout="${logger}: ${message}" error="false" />
    <target name="File" xsi:type="File" fileName="${basedir}/player.log" /> <!--Todo: player name -->
    <target name="Dump" xsi:type="File" fileName="${basedir}/packet.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="Console" />
    <logger name="*" minlevel="Warn" writeTo="File" />
    <!--<logger name="L2Apf.Server.Game.Network" levels="Trace" writeTo="Dump" />-->
  </rules>
</nlog>
